<!-- 网易云音乐配置 -->
<!-- 根据page.pid 去_data下music.yml文件夹下取music_id -->
{% assign music = site.data.music[page.pid] %}
{% unless music %}
{% assign music = site.data.music["Default"]%}
{% endunless %}
<!-- cloud music -->
<!-- auto=1 可以控制自动播放与否，当值为 1 即打开网页就自动播放，值为 0 时需要访客手动点击播放 -->
<!-- <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86
        src="//music.163.com/outchain/player?type=2&id={{ music.music_id }}&auto=0&height=66">
</iframe> -->

<!-- require MetingJS -->
<!-- data-server 是歌服务的提供者 netease：网易；tencent：腾讯；xiami：虾米；kugou：酷狗；baidu：百度-->
<!-- data-type 是歌服务的提供者 playlist：歌单；song：单曲；专辑：album；关键词：search；歌手：artist-->
<div class="aplayer" data-id="60198" data-server="netease" data-type="playlist"></div>
<div class="aplayer" data-id="002QE24W26baEy" data-server="tencent" data-type="album" data-fixed="true" data-autoplay="false" data-volume="1.0" data-list-max-height="200px" data-list-folded="true"></div>

</script><meting-js	server="netease" type="song" id={{ music.music_id }}</meting-js>
